:root {
    --accent-color: #63AAB0;
    --black: #0c0c0c;
}
* {box-sizing: border-box;}
.texto_centrado{text-align: center; 
}
ul {
    list-style: none;
} h2, h1 { color: var(--black)}
.scroll_horizontal::-webkit-scrollbar {
    height: 5px;
    width: 0%;
} .scroll_horizontal::-webkit-scrollbar-track {
    border-radius: 10px;
} .scroll_horizontal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent-color); 
}
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px 0px 20px;
    margin: 0px;
}
.icon {
    border: none;
    background-color: transparent;
    padding: 0%;
} .icon, .icon > img {
    width: 50px;
    height: 50px;}
#nombre_app {
    font-size: 2rem;
    color: var(--accent-color);
    font-family: 'Fruktur', cursive;
} .selectorRasgos > article > ul:first-of-type > li > button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.selectorRasgos > article{
    width: 100%;
} 
.selectorRasgos > article > ul:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
    padding: 10px;
}
.selectorRasgos > article > ul:first-of-type > li > button{
    width: 100px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
} .selectorRasgos > article > ul:first-of-type > li > button > img {
    width: 50px;
    margin-bottom: 5px;
    display: block;
}
.selectorRasgos > figure > div:first-of-type{
    margin: 0px;
    padding: 0%;
    position: relative;
    background-color: #d3d3d3;
} .selectorRasgos > figure > div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} 
.selectorRasgos > figure > div > button {
    height: 50px;
}
.selectorRasgos > figure > div > button:first-of-type{
    width: 200px;
    background-color: var(--accent-color);
    color: var(--black);
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
} .selectorRasgos > figure > div > button:nth-of-type(2){
    background-color: transparent;
    border: none;
}
#exportar img:not(:first-of-type) {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
} .rasgos > li,  .rasgos > li > button, .rasgos > li > button > img {
    display: inline-block;
} .rasgos>li>button{
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 10px;
    overflow: hidden;
} .rasgos > li>button:active{
    box-shadow: inset 0px 0px 0px 2px var(--accent-color);
}
#rasgos_cejas, #rasgos_ropa, #rasgos_ojos, #rasgos_accesorio, #rasgos_boca, #rasgos_fondo  {
    display: none;
}

@media screen and (max-width: 1020px) {
    .img_personaje {
        max-height: 65vh;
        max-width: 100%;
    } #exportar > button {display: none;}
    .selectorRasgos {
        display: flex;
        flex-direction: column;
        padding: 0px 10px 10px 10px;
        margin: 0px;
        align-items: center;
    } .rasgos > li > button {
        width: 100px;
        height: 100px;
    } .rasgos > li > button > img {
        width: 80px;
        height: 80px;
    } .rasgos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 120px;
        width: 100%;
        overflow: scroll;
    }
    .selectorRasgos > article > ul:first-of-type{
        max-width: 100%;
    } 
    #header {
        justify-content: space-between;
    }
}
@media screen and (min-width: 1020px) {
    .img_personaje {
        max-width: 40vw;
        max-height: 80vh;
    } #header > button {
        display: none;
    }
    #header {text-align: center;}
    #header {
        justify-content: center;
    }
    .selectorRasgos {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } .rasgos > li > button {
        width: 150px;
        height: 150px;
    } .rasgos > li > button > img {
        width: 130px;
        height: 130px;
    } .selectorRasgos > article > ul:first-of-type{
        min-width: 35vw;
        max-width: 45vw;
    } .selectorRasgos > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
    }
}
